/* MEDIA QUERIES 810px*/
@media (max-width: 810px) {
}

/* MEDIA QUERIES 500px*/
@media (max-width: 500px) {
  /* WELCOME */
  .welcome {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  /* /WELCOME */

  .pie_de_pagina {
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
  }
}
